# Environments and Secrets
.venv/
.env

__pycache__/
*.pyc
*.log

# Raw Data (Optional: ignore the PDFs so you don't bloat Git)
data/raw_pdfs/*.pdf
# Ignore debug text files in the pdf directory
data/raw_pdfs/*.txt

# Database Storage
qdrant_storage/*

# Configuration
# We track the main config but ignore any "local" overrides
src/*.local.yaml
src/config.local.yaml


#Claude md
CLAUDE.md

#Storage
qdrant_storage/



__pycache__/


*.pyc
